<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>{% block titulo %}{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
        <link href="{{ asset ('css/dssdCss.css') }}" type="text/css" rel="stylesheet" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
        <link href='https://fonts.googleapis.com/css?family=Advent Pro' rel='stylesheet'>

        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ asset ('css/jquery.datetimepicker.css') }}"/>
        <script src="{{ asset ('js/jquery.datetimepicker.full.min.js') }}"></script>
        <!-- <script src="jquery-3.1.1.js"></script>
        <script type="text/javascript" src="canvasjs.min.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link href="path/to/multiselect.css" media="screen" rel="stylesheet" type="text/css">
        <script src="jspdf.min.js"></script>
        <script src="html2canvas.js"></script>
        <link rel="stylesheet" type="text/css" href="jquery.datetimepicker.css"/>
        <script src="jquery.datetimepicker.full.min.js"></script> -->
    </head>
    <body>
        <header class="mainHeader">
            <h1> Organización de Seguros </h1>
        </header>
        <nav>
            <ul class="navbar">
                <li> <a href="{{ path('inicio') }}"> Inicio </a></li>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {# {% if (is_granted('ROLE_USER')) %}  #}
                     {# {% if (app.user.role == 'ROLE_USER') %}
                    {% endif %}
                    {% if ((is_granted('ROLE_GESTION')) or (is_granted('ROLE_ADMIN'))) %}
                    {% endif %}
                    {% if (is_granted('ROLE_ADMIN')) %}
                    {% endif %}#}
                    <li> <a href="{{ path('siniestro_nuevo') }}"> Crear siniestro </a></li>
                    <li> <a href="{{ path('siniestros') }}"> Mis siniestros </a></li>
                    <li> <a href="{{ path('fos_user_security_logout') }}"> Cerrar Sesion </a></li>
                    <p class="right" > Usuario: {{app.user.username}} </p>
                {% else %}
                    <li> <a href="{{ path('fos_user_security_login') }}"> Iniciar Sesión </a></li>
                    <li> <a href="{{ path('fos_user_registration_register') }}"> Registrarse </a></li>
                {% endif %}
            </ul>


        </nav>
        <div>
            {% block contenido %}{% endblock %}
        </div>
    </body>
</html>

