{% extends 'base.html.twig' %}
{% block titulo%}Nuevo Siniestro{%endblock%}
{% block stylesheets %}
    <link href="{{ asset ('css/dssdCSS.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block contenido %}
    <h2 class="titulo"> Nuevo Siniestro </h2>
    <div style="display: flex;    justify-content: center;">
        {{ form_start(form) }}
        <div style="display: flex;    justify-content:  space-evenly;">
            <div class="columna-form-porcentaje">
                {{ form_row(form.nroCliente) }}
                {{ form_row(form.tipoIncidenteId) }}
            </div>
            <div class="columna-form-porcentaje">
                {{ form_row(form.fechaIncidente) }}
                {{ form_row(form.descripcionSiniestro) }}
                <div class="button-add-form" style="margin-top: 15px;">
                    {{ form_widget(form.submit) }}
                </div>
            </div>
        </div>

        {{ form_end(form) }}

    </div>

{%endblock%}
