{% extends 'base.html.twig' %}
{% block titulo%}Nuevo Siniestro{%endblock%}
{% block stylesheets %}
    <link href="{{ asset ('css/dssdCSS.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block contenido %}
    <h2 class="titulo"> Nuevo Siniestro </h2>
    <div class="form">
        {{ form_start(form) }}
        <div class="campos-form">
            <div class="columna-form">
                {{ form_row(form.nroCliente) }}
                {{ form_row(form.tipoIncidenteId) }}
                {{ form_row(form.fechaIncidente) }}
                {{ form_row(form.descripcionSiniestro) }}
            </div>

            <div class="boton-form">
                {{ form_widget(form.submit) }}
            </div>
        </div>

        {{ form_end(form) }}

    </div>

{%endblock%}
